*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Ubuntu";
    background-color: rgb(233, 227, 227);
}

/* Header */
header{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: aliceblue;
    position: fixed;
    top: 0;
    z-index: 2;
}

.logo svg{
    width: 3em;
    height: 3em;
}

nav ul li{
    display: inline-block;
    padding: 1em;
    cursor: pointer;
}

/* Slider */
.slide-container{
    overflow: hidden;
    height: 100vh;
}

.slide-container:before, .slide-container:after{
    cursor: pointer;
    position: absolute;
    top: 50%;
    right: 0;
    padding: 22px;
    font-size: 30px;
    border-radius:0 3px 3px 0;
    user-select: none;
    color: #000;
}

.slide-container::before{
    content: ">";
    right: 0;
    
}

.slide-container::after{
    content: "<";
    left: 0;
}

.slide-container img{
    width: 100%;
    height: 95vh;
    opacity: 0.7;
    object-fit: cover;
}

.active{
    background-color: lightgray;
}

.transition{
    animation-name: transition;
    animation-duration: 1.5s;
}

@keyframes transition{
    from{
        opacity: .4;
    }
    to{
        opacity: 1;
    }
}

.centrado{
    position: absolute;
    top: 40%;
    left: 10%;
    font-size: 3em;
}

button {
    padding: 1em;
    background: #f2d1a3;
    border-radius: 5px;
    color: #000;
    border: 0;
    cursor: pointer;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    transition: background-color 0.3s ease-in-out;
   }
   
button:hover {
    background-color: #d8a46d;
   }

h1{
    font-size: .9em;
}

/* First section */
.section-element{
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    margin: 5em auto;
}

.photo-element{
    width: 30em;
    margin: 1em auto;
    border-radius: 2rem;
    background-color: rgb(253, 253, 253);
}

.photo-element img{
    display: block;
    margin: 2em auto;
    max-width: 80%;
    height: auto;
    border-radius: 2rem;
}

.photo-element img:hover{
    transform: translateY(-2rem);
    box-shadow: 0 20px 40px -5px rgba(20, 1, 12, 0.3);
}

p{
    text-align: center;
    padding: .8em;
}

/* Second section */
.second-section{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 2em;
    margin: 5em 0;
}

.text{
    width: 40%;
    overflow: hidden;
    text-overflow: ellipsis; 
}

.transparencia{
    width: 40%;
}

.transparencia img{
    width: 100%;
    max-height: auto;
    filter: drop-shadow(12px 5px 4px #000);
}

.model-element{
    width: 40%;
}

.model-element model-viewer{
    height: 30em;
    width: 40em;
}

/* Footer */
footer{
    margin-top: 3em;
}
.footer-element{
    width: 50%;
    display: block;
    margin: 1em auto;  
}

.logo svg{
    display: block;
    margin: .5em auto;
}

@media (max-width:500px){
    header{
        display: flex;
        flex-flow: column nowrap;
    }
}