/* Header */
header{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: aliceblue;
    position: fixed;
    margin-bottom: 2em;
}

.logo svg{
    width: 3em;
    height: 3em;
}

ul li{
    display: inline-block;
    padding: 1em;
    cursor: pointer;
}

/* Slider */
.contenedor{
    margin-top: 5em;
    position: relative;
    display: inline-block;
    text-align: center;
    width: 100%;
}

.slide-container img{
    width: 100%;
    height: 80vh;
}

.centrado{
    position: absolute;
    top: 30%;
    left: 10%;
    font-size: 3em;
    color: aliceblue;
}

/* First section */
.section-element{
    display: flex;
    width: 100%;
    margin: 1em auto;
}

.photo-element{
    width: 33%;
    margin: 1em auto;
}

.photo-element img{
    display: block;
    margin: 0 auto;
    max-width: 60%;
    height: auto;
}

p{
    text-align: center;
}

/* Second section */
.second-section{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 2em;
}

.text{
    width: 40%;
}

.transparencia{
    width: 40%;
}

.transparencia img{
    width: 100%;
    max-height: auto;
}

/* Footer */
footer{
    margin-top: 3em;
}
.footer-element{
    width: 50%;
    display: block;
    margin: 1em auto;  
}

.logo svg{
    display: block;
    margin: .5em auto;
}